body{
    background-color: #eee
}
html,body{
    position: relative;
    height: 100%;
}

ul.nav-tabs li a span.glyphicon{
    font-size: 15px
}
ul.nav-tabs li a{
    font-size: 12px
}

.new-block-container{
    background: #fff;
    border: 1px solid #ccc;
    padding: 50px 0;
    position: relative;
    margin-top: 10%
}
.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input.error{
    border: 2px solid rgba(255,0,0,0.25)
}

.form-box input.success{
    border: 2px solid rgba(0,255,0,0.25)
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input::placeholder{
    color: #ccc
}
.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[name="user"]{
    border-radius: 5px 5px 0 0;
}

.form-box input[name="password"],
.form-box input[name="hash"]{
    border-top: 0;
}

.form-box input[name="hash"]{
    border-radius: 0 0 5px 5px;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.ui.table thead th{
    cursor: pointer
}

.btn-block{
    max-width: 125px;
    margin-left: auto;
}

.bootstrap-datetimepicker-widget.dropdown-menu{
    display: block
}

#new-block-modal #output {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}

#queueTable tbody tr td.select-checkbox{
    cursor: pointer
}
#geolocTable tfoot input[type="text"] {
    width: 100%;
}
#dataTable tbody tr.completed{
    background: rgba(255,0,0,0.1);
}
#dataTable tbody tr.incoming{
    background: rgba(0,0,255,0.1);
}
#dataTable tbody tr.processing{
    background: rgba(0,255,0,0.1);
}
.ui.celled.table tr td,
.ui.celled.table tr th {
    max-width: 300px;
    font-size: 13px
}
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.inner-addon {
  position: relative;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 4px 15px;
  pointer-events: none;
  font-size: 21px;
  opacity: 0.5
}
.left-addon .glyphicon { left:  0px;}
.right-addon .glyphicon { right: 0px;}
.left-addon input { padding-left:  35px; }
.right-addon input { padding-right: 35px; }
.inner-addon input { font-size: 15px }
.inner-addon input::placeholder { opacity: 0.75 }

#mainmanagement .entryContainer .alert-danger{
    display: table-caption
}

#mainmanagement .divider{
    width: 100%;
    margin: 25px 0;
    height: 1px;
    background-color: #ddd
}
#mainmanagement .noResize{
    resize: none
}

#mainmanagement .entryContainer{
    margin-top: 10px
}

#mainmanagement .input-group-btn>.btn{
    height:34px
}

/* Overwriting */
.tab-content table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected{
    background-color: lightblue
}
.tab-content .btn,
.tab-content .pagination>li>a, .pagination>li>span{
    border: 0
}

.tab-content .btn-group-lg>.btn, .btn-lg,
.tab-content .pagination>li>a, .pagination>li>span,
.tab-content table.dataTable tbody td.select-checkbox:before,
.tab-content table.dataTable tbody th.select-checkbox:before{
    border-radius: 0
}

.tab-content .form-control:focus{
    border-color: none;
    box-shadow: 0;
    -webkit-box-shadow: 0
}

.tab-content table.dataTable tr.selected td.select-checkbox:after,
.tab-content table.dataTable tr.selected th.select-checkbox:after{
    content: '';
    background: black;
    margin: -6px;
}

.tab-content table.dataTable tbody tr.selected,
.tab-content table.dataTable tbody th.selected,
.tab-content table.dataTable tbody td.selected{
    color: #333
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #d8d8d9;
}

#geolocTable_wrapper{
    margin-top: 25px
}
.geoloc_importer #files{
    float: left;
    width: 100%;
    margin-top: 15px;
}
.geoloc_importer .fileinput-button{
    width: 17.5%;
    margin-right: 2.5%;
    float: left;
}
.geoloc_importer .progress{
    width: 80%;
    height: 32px;
    float: right
}
.server_messages{
    border: 2px solid darkred;
    background-color: lightpink;
    padding: 8px
}